*.lock

# IntelliJ related
*.iml
.idea/
.packages
build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
/lib/ui/sample.dart
/lib/ui/widgetapp/
/.flutter-plugins
/android/app/google-services.json
/android/misc/api-8857670977859340350-9644-c1e382e20443.json
.flutter-plugins-dependencies
.dart_tool/
/android/app/flutter_playground.jks
/upload_certificate.pem
/lib/ads/ad_helper.dart
/android/app/release/
/ios/Flutter/flutter_export_environment.sh
